<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>PO</title>
</head>
<body>

    <header>

       <p> Графическая база - система управления базой размеченных изображений</p> 
        
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'OneBlock')" id="defaultOpen">Обзор файлов</button>
            <button class="tablinks" onclick="openTab(event, 'TwoBlock')">Создание выборки</button>
            <button class="tablinks" onclick="openTab(event, 'ThreeBlock')">Валидация</button>
            <button class="tablinksName" onclick="openTab(event, 'AutoBlock')" id="userName">ИМЯ ПОЛЬЗОВАТЕЛЯ</button>
        </div>

    </header>

        <div id="AutoBlock" class="tabcontent">
            <h3>Войдите под своим именем</h3>
            <form id="userForm">
                <label for="userSelect">Выберите пользователя:</label>
                <select id="userSelect">
                    {% for user in users %}
                        <option value="{{ user.name }}">{{ user.name }}</option>
                    {% endfor %}
                </select> <br>
                <button class="buttonOk" type="button" onclick="updateUserName()">ОК</button>
                <br><br><br>
                <label for="newUserName">Не нашли свое имя в списке? <br>Добавите его в поле ниже</label>
                <input type="text" id="newUserName" placeholder="Введите новое имя"> <br>
                <button class="buttonOk" type="button" onclick="addUser()">Добавить</button>
            </form>
        </div>


        <div id="OneBlock" class="tabcontent active">
            <main >
                    <h1>Блок обзор файлов</h1> 
                    <button onclick="openLoadingScreen()" class="btnDownload"> Загрузить</button>

                    <div class="overlay" onclick="closeLoadingScreen()"></div>
                    <div class="LoadingScreen">
                        <div class="VerhLoadingScreen">
                            <h3>Загрузка файлов</h3>
                            <button class="close-x" onclick="closeLoadingScreen()">
                                <img src="{{ url_for('static', filename='img/close-x.svg') }}" alt="">
                             </button>
                        </div>
                    
                        <div class="listFiles">
                            <span class="file" id="file-label"></span>
                        </div>
                        <p id="fileCount2"> </p>
                        
                        <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
                            <label class="file-btn" for="showUploadForm">Выбрать файлы</label>
                            
                            <button class="downloadBtn2" type="submit">Загрузить</button>
                            <input id="showUploadForm" name="files" multiple class="custom-file-input" type="file" accept=".jpg, .jpeg, .png, .txt" onchange="updateFileLabel(this.files)">
                        </form>
                    </div>

                    <div class="inputsval1">
                        <label class="inputsval">
                            <input type="radio" name="show" id="All" checked onclick="filterFiles()">
                            Все фото
                        </label>
                        <label class="inputsval">
                            <input type="radio" name="show" id="showAnnotated" onclick="filterFiles()">
                            Только с разметкой
                        </label>
                        <label class="inputsval">
                            <input type="radio" name="show" id="showValidated" value="val" onchange="filterFiles()">
                            Только с валидацией
                        </label>
                    </div>

                    <div class="viewFiles">
                        <div class="listFiles">
                            
                            <label class="fileList" for="file">Список файлов</label>
                            <select size="20" id="fruits" name="fruits" onchange="updateImage('fruits', 'fileImage', 'selectedFileName')">
                                {% for yolka in yolki %}
                                    {% set fileName = yolka.photo.split('/')[-1] %}
                                    <option value="{{ yolka.photo }}" data-txt="{{ yolka.txt }}" data-val="{{ yolka.val_result }}">{{ fileName }}</option>
                                {% endfor %}
                            </select>
                            <p id="fileCount">Всего файлов:{{ yolki|length }}</p>
                        </div>
                    
                        <div class="thatFile">
                            <div class="nameFile">
                                <p class="selectedFileName">Файл:</p> 
                                <span id="selectedFileName"></span><br>    
                            </div>
                            <canvas id="fileImage" width="2000" height="2000" style="border:1px solid #313131;"></canvas><br>
                        </div>
                    </div>
            </main>
        </div>
        
        
        <div id="TwoBlock" class="tabcontent">
            <h1>Блок создание выборки для обучения</h1>


            <button onclick="openCreateDataSet()" class="btnDownload">Создать датасет </button>

            <div class="overlayForCD" onclick="closeCreateDataSet()"></div>
            <div class="CreateDataSet">
                <div class="VerhLoadingScreen">
                    <h1>Создать новый датасет</h1>
                    <button class="close-x2" onclick="closeCreateDataSet()">
                        <img src="{{ url_for('static', filename='img/close-x.svg') }}" alt="">
                     </button>
                     
                </div>
        

                    <div class="listFiles">
                        <p id="fileCount">Всего файлов:{{ yolki|length }}</p>
                        <!-- <label class="fileList" for="file">Список файлов</label> -->
                   
                        <!-- <select size="10" id="vegetables" name="vegetables" onchange="updateFileCount()">
                            {% for yolka in yolki %}
                                {% set fileName = yolka.photo.split('/')[-1] %}
                                <option value="{{ yolka.photo }}" data-txt="{{ yolka.txt }}" data-val="{{ yolka.val_result }}">{{ fileName }}</option>
                            {% endfor %}
                        </select> -->
                    </div>

                    <form id="photoForm" action="/copy_photos" method="post">
                        <label for="numPhotos">Количество фотографий:</label>
                        <input type="number" id="numPhotos" name="num_photos" min="1" max="{{ non_empty_count }}" value="{{ non_empty_count }}" required><br>
                        
                        <label for="datasetName">Название папки датасета:</label>
                        <input type="text" id="datasetName" name="dataset_name" required placeholder="Введите название папки"><br>
                    
                        <label for="trainSize">Размер train выборки (0-1):</label>
                        <input type="number" id="trainSize" name="train_size" min="0" max="1" step="0.01" value="0.8" required placeholder="Например, 0.8"><br>
                    
                        <label for="valSize">Размер val выборки (0-1):</label>
                        <input type="number" id="valSize" name="val_size" min="0" max="1" step="0.01" value="0.2" required placeholder="Например, 0.2"><br>
                    
                        <button type="submit">Сохранить датасет</button>
                        
                    </form><br>

            </div><br><br>

            <form action="{{ url_for('create_class') }}" method="POST">
                <label for="datasets">Выберите датасет:</label>
                <select id="datasets" name="selected_dataset" required>
                    {% for dataset in datasets %}
                        {% set dataset_name = dataset.dataset_path.split('/')[-1] %}
                        <option value="{{ dataset.dataset_path }}">{{ dataset_name }}</option>
                    {% endfor %}
                </select><br>
                
                <label for="class_name">Введите имя класса:</label>
                <input type="text" id="class_name" name="class_name" required>
                
                <button type="submit" >Создать класс</button>
            </form><br>


            <form action="{{ url_for('create_train_script') }}" method="POST">
                <label for="datasets">Выберите датасет:</label>
                <select id="datasets" name="selected_dataset" required>
                    {% for dataset in datasets %}
                        {% set dataset_name = dataset.dataset_path.split('/')[-1] %}
                        <option value="{{ dataset.dataset_path }}">{{ dataset_name }}</option>
                    {% endfor %}
                </select><br>

                <div class="form-group">
                    <label for="imgsz">Размер изображения:</label>
                    <input type="number" id="imgsz" name="imgsz" value="640" required>
                </div>
                <div class="form-group">
                    <label for="epochs">Количество эпох:</label>
                    <input type="number" id="epochs" name="epochs" value="500" required>
                </div>
                <div class="form-group">
                    <label for="batch">Размер батча:</label>
                    <input type="number" id="batch" name="batch" value="2" required>
                </div>
                <div class="form-group">
                    <label for="save_period">Период сохранения:</label>
                    <input type="number" id="save_period" name="save_period" value="50" required>
                </div>

                <button type="submit" class="btnDownload">Создать train.py</button>
                <p>"После нажатия на кнопку, файл сохраниться в папку, <br> в которой лежит указанный датасет"</p>
            </form>
        </div>

        <div id="ThreeBlock" class="tabcontent">

            <form id="resultForm" action="{{ url_for('record_result') }}" method="POST">
                <div class="viewFilesV">
                    <div class="listFilesV">
                        <label class="fileList" for="file">Список файлов</label>
                        <select size="20" id="fruitsV" name="fruits" onchange="updateImage('fruitsV', 'fileImageV', 'selectedFileNameV')">
                            {% for yolka in yolki %}
                            {% set fileName = yolka.photo.split('/')[-1] %}
                                <option value="{{ yolka.photo }}" data-txt="{{ yolka.txt }}" data-val="{{ yolka.val_result }}">{{ fileName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="thatFileV">
                        <div class="">
                            <div class="nameFileV">
                                <p class="selectedFileName">Файл:</p> 
                                <span id="selectedFileNameV"></span><br>    
                            </div>
                            <canvas id="fileImageV" width="500" height="500" style="border:1px solid #313131;"></canvas><br>
                        </div>
                        <div>
                            <button type="button" onclick="recordResult(1)">Да</button>
                            <button type="button" onclick="recordResult(0)">Нет</button>
                            <button type="button" onclick="endProcess()">Завершить процесс</button>
                        </div>
                    </div>
                </div> 
            </form>

            <div class="inputsval1">
                <label class="inputsval">
                    <input type="radio" name="validation" id="AllVal" checked onchange="filterFilesV()">
                    Все фото
                </label>
                <label class="inputsval">
                    <input type="radio" name="validation" id="showVal" onchange="filterFilesV()">
                    Без валидации
                </label>
                <label class="inputsval">
                    <input type="radio" name="validation" id="showValidatedPositive" onchange="filterFilesV()">
                    Валидация положительная
                </label>
                <label class="inputsval">
                    <input type="radio" name="validation" id="showValidatedNegative" onchange="filterFilesV()">
                    Валидация отрицательная
                </label>
            </div>
            
        </div>

</body>
</html>