<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>PO</title>
</head>
<body>

    <header>

        ГРАФИЧЕСКИЙ ЧТО-ТО ТАМ
        
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'OneBlock')" id="defaultOpen">Обзор файлов</button>
            <button class="tablinks" onclick="openTab(event, 'TwoBlock')">Создание выборки</button>
            <button class="tablinks" onclick="openTab(event, 'ThreeBlock')">Валидация</button>
        </div>
        
       ИМЯ ПОЛЬЗОВАТЕЛЯ

    </header>


        <div id="OneBlock" class="tabcontent active">
            <main >
                    <h1>Блок обзор файлов</h1> 
                    <button onclick="openLoadingScreen()" class="btnDownload"> Загрузить</button>

                    <div class="overlay" onclick="closeLoadingScreen()"></div>
                    <div class="LoadingScreen">
                        <div class="VerhLoadingScreen">
                            <h3>Загрузка файлов</h3>
                            <button class="close-x" onclick="closeLoadingScreen()"></button>
                        </div>
                    
                        <div class="listFiles">
                            <span class="file" id="file-label"></span>
                        </div>
                        
                        <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
                            <label class="file-btn" for="showUploadForm">Выбрать файлы</label>
                            
                            <button class="downloadBtn2" type="submit">Загрузить</button>
                            <input id="showUploadForm" name="files" multiple class="custom-file-input" type="file" accept=".jpg, .jpeg, .png, .txt" onchange="updateFileLabel(this.files)">
                        </form>
                    </div>

                    <div class="inputsval1">
                        <label class="inputsval">
                            <input type="checkbox" id="showAnnotated" onclick="filterFiles()">
                            Только с разметкой
                        </label>
                        <br>
                        <label class="inputsval">
                            <input type="checkbox" id="showValidated" value="val" onchange="filterFiles()" disabled>
                            Только с валидацией
                        </label>
                    </div>


                    <div class="viewFiles">
                        <div class="listFiles">
                            <label class="fileList" for="file">Список файлов</label>
                            <select size="20" id="fruits" name="fruits" onchange="updateImage()">
                                {% for yolka in yolki %}
                                    <option value="{{ yolka.photo }}" data-txt="{{ yolka.txt }}">{{ yolka.photo }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    
                        <div class="thatFile">
                            Файл: <span id="selectedFileName"></span><br>
                            <img id="fileImage" src="" width="400" height="400" alt="Изображение"><br>
                        </div>
                    </div>
            </main>
        </div>
        
        
        <div id="TwoBlock" class="tabcontent">
            <h1>Блок создание выборки для обучения</h1>


            <button onclick="openCreateDataSet()" class="">Создать датасет </button>

            <div class="overlayForCD" onclick="closeCreateDataSet()"></div>
            <div class="CreateDataSet">
                <div class="VerhLoadingScreen">
                    <h3>Создать новый датасет</h3>
                    <button class="close-x" onclick="closeCreateDataSet()"></button>
                </div>
        

                    <div class="listFiles">
                        <label class="fileList" for="file">Список файлов</label>
                        <select size="10" id="vegetables" name="vegetables" multiple onchange="updateFileCount()">
                            {% for yolka in yolki %}
                                {% if yolka.txt is not none %}
                                    <option value="{{ yolka.photo }}" data-txt="{{ yolka.txt }}">{{ yolka.photo }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <form id="photoForm" action="/copy_photos" method="post">
                        <label for="numPhotos">Количество фотографий:</label>
                        <input type="number" id="numPhotos" name="num_photos" min="1" max="{{ non_empty_count }}" value="{{ non_empty_count }}" required><br>
                        
                        <label for="datasetName">Название папки датасета:</label>
                        <input type="text" id="datasetName" name="dataset_name" required placeholder="Введите название папки"><br>
                    
                        <label for="destinationFolder">Путь к папке назначения:</label>
                        <input type="text" id="destinationFolder" name="destination_folder" required placeholder="Введите путь к папке"><br>
                    
                        <label for="trainSize">Размер train выборки (0-1):</label>
                        <input type="number" id="trainSize" name="train_size" min="0" max="1" step="0.01" value="0.8" required placeholder="Например, 0.8"><br>
                    
                        <label for="valSize">Размер val выборки (0-1):</label>
                        <input type="number" id="valSize" name="val_size" min="0" max="1" step="0.01" value="0.2" required placeholder="Например, 0.2"><br>
                    
                        <button type="submit">Сохранить датасет</button>
                    </form><br>

            </div><br><br>

            <form action="{{ url_for('create_class') }}" method="POST">
                <label for="datasets">Выберите датасет:</label>
                <select id="datasets" name="selected_dataset" required>
                    {% for dataset in datasets %}
                        <option value="{{ dataset.dataset_path }}">{{ dataset.dataset_name }}</option>
                    {% endfor %}
                </select><br>
                
                <label for="class_name">Введите имя класса:</label>
                <input type="text" id="class_name" name="class_name" required>
                
                <button type="submit">Создать класс</button>
            </form><br>


            <form action="{{ url_for('create_train_script') }}" method="POST">
                <label for="datasets">Выберите датасет:</label>
                <select id="datasets" name="selected_dataset" required>
                    {% for dataset in datasets %}
                        <option value="{{ dataset.dataset_path }}">{{ dataset.dataset_name }}</option>
                    {% endfor %}
                </select><br>

                <div class="form-group">
                    <label for="imgsz">Размер изображения:</label>
                    <input type="number" id="imgsz" name="imgsz" value="640" required>
                </div>
                <div class="form-group">
                    <label for="epochs">Количество эпох:</label>
                    <input type="number" id="epochs" name="epochs" value="500" required>
                </div>
                <div class="form-group">
                    <label for="batch">Размер батча:</label>
                    <input type="number" id="batch" name="batch" value="2" required>
                </div>
                <div class="form-group">
                    <label for="save_period">Период сохранения:</label>
                    <input type="number" id="save_period" name="save_period" value="50" required>
                </div>

                <button type="submit">Создать train.py</button>
            </form>
                    

            <!-- <button onclick="openScript()" class="" >Создание скрипта </button>


            <div class="overlayForScript" onclick="closeScript()"></div>
            <div class="Script">
                <div class="VerhLoadingScreen">
                    <h3>Создание скрипта</h3>
                    <button class="close-x" onclick="closeScript()"></button>
                </div>

                    
            </div> -->
          


          
            

            <!-- {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <script>
                        var flashMessages = [
                            {% for category, message in messages %}
                                { "category": "{{ category }}", "message": "{{ message }}" }{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        ];
                        handleFlashMessages(flashMessages);
                    </script>
                {% endif %}
            {% endwith %} -->
        </div>

        <div id="ThreeBlock" class="tabcontent">

            <div class="viewFiles">
        
                <div class="listFiles">
                    <label class="fileList" for="file">Список файлов</label>
                    <select size="20" id="fruits" name="fruits" onchange="updateImage()">
                        {% for yolka in yolki %}
                            <option value="{{ yolka.photo }}" data-txt="{{ yolka.txt }}">{{ yolka.photo }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="thatFile">
                    Файл: <span id="selectedFileName"></span><br>
                    <img id="fileImage" src="" width="400" height="400"><br>

                   
                </div>

                <div>
                    <button>Пока фейл, далее</button>
                    <button>Норм, далее</button>
                    <button>Не знаю зачем, но ЗАКОНЧИТЬ ПРОЦЕСС</button>
                </div>
            </div>

            <div class="inputsval1">
                <label class="inputsval">
                    <input type="checkbox" id="showAnnotated" value="txt" onchange="filterFiles()">
                    Без валидации
                </label>
                <br>
                <label class="inputsval">
                    <input type="checkbox" id="showValidated" value="val" onchange="filterFiles()">
                    Валидация меньше 3 чел
                </label>
                <label class="inputsval">
                    <input type="checkbox" id="showValidated" value="val" onchange="filterFiles()">
                    Валидация меньше 5 чел
                </label>
            </div>
            
        </div>

</body>
</html>