<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>PO</title>
</head>
<body>
    <h1>Блок обзор файлов</h1> 
        <main>

        <button onclick="openLoadingScreen()" class="btnDownload"> Загрузить</button>

        <div class="overlay" onclick="closeLoadingScreen()"></div>
        <div class="LoadingScreen">
            <div class="VerhLoadingScreen">
                <h3>Загрузка файлов</h3>
                <button class="close-x" onclick="closeLoadingScreen()"></button>
            </div>
          
            <div class="listFiles">
                <span class="file" id="file-label"></span>
            </div>
            
            <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
                <label class="file-btn" for="showUploadForm">Выбрать файлы</label>
                
                <button class="downloadBtn2" type="submit">Загрузить</button>
                <input id="showUploadForm" name="files" multiple class="custom-file-input" type="file" accept=".jpg, .jpeg, .png, .txt" onchange="updateFileLabel(this.files)">
            </form>
        </div>

        <div class="inputsval1">
            <label class="inputsval">
                <input type="checkbox" id="showAnnotated" value="txt" onchange="filterFiles()">
                Только с разметкой
              </label>
              <br>
              <label class="inputsval">
                <input type="checkbox" id="showValidated" value="val" onchange="filterFiles()" disabled>
                Только с валидацией
              </label>
        </div>


        <div class="viewFiles">
    
            <div class="listFiles">
                <label class="fileList" for="file">Список файлов</label>
                <select size="20" id="fruits" name="fruits" onchange="updateImage()">
                    {% for yolka in yolki %}
                        <option value="{{ yolka.photo }}" data-txt="{{ yolka.txt }}">{{ filenames[loop.index0] }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="thatFile">
                Файл: <span id="selectedFileName"></span><br>
                <img id="fileImage" src="" width="400" height="400"><br>

                <!-- <div class="validation">
                    <p>Валидация:</p>
                    дата имя результат<br>
                </div> -->
            </div>
        </div>
        </main>
        
        <div class="blocTwo">
            <h1>Блок создание выборки для обучения</h1>

            <div class="listFiles">
                <label class="fileList" for="file">Список файлов</label>
                <select size="20" id="vegetables" name="vegetables" multiple onchange="updateFileCount()">
                    {% for yolka in yolki %}
                        {% if yolka.txt is not none %}
                            <option value="{{ yolka.photo }}" data-txt="{{ yolka.txt }}">{{ filenames[loop.index0] }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <form id="photoForm" action="/copy_photos" method="post">
                <label for="numPhotos">Количество фотографий:</label>
                <input type="number" id="numPhotos" name="num_photos" min="1" max="100" required>
                
                <!-- <label for="destinationFolder">Путь к папке назначения:</label>
                <input type="text" id="destinationFolder" name="destination_folder" required placeholder="Введите путь к папке"> -->
                
                <button type="submit">Отправить</button>
            </form>

            <form action="{{ url_for('split_dataset') }}" method="post">
                <button type="submit">Разделить датасет</button>
            </form>

            <form action="{{ url_for('create_class') }}" method="post">
                <input type="text" name="class_name" placeholder="Введите название класса" required>
                <button type="submit">Создать класс</button>
            </form>

            <div class="container mt-5">
                <h1>Обучение модели YOLO</h1>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <form action="{{ url_for('train') }}" method="post">
                    <button type="submit" class="btn btn-primary">Запустить обучение</button>
                </form>
            </div>
        </div>
</body>
</html>